*.idea
*.idea/**
*.iml
*.ipr
target
*.project
*.classpath
*.iws
*.settings/**
*.log
*.log.gz
rebel.xml
**/metastore_db
**/embedded_kafka
**/dependency-reduced-pom.xml
sample/solr-parquet-spark/src/test/resources/solr/collection1/data

*.settings
*.factorypath
